language: go

go:
    - tip

before_install:
    - go get github.com/axw/gocov/gocov
    - go get github.com/mattn/goveralls
    - go get golang.org/x/tools/cmd/cover

script:
    - $HOME/gopath/bin/goveralls -repotoken 5ZPx0oK5Axyj9NXOFFQb7JrUtVbzlM9in

install:
    - go get -d -v ./...
    - go build -v ./...
